*{box-sizing:border-box;}
.calendar_wrap{
	position:relative;
	display:inline-block;
	margin:10px auto;
}
.calendar_wrap a{
	color:#333;
	text-decoration:none;
	cursor:pointer;
}

.calendar_container input{
  	width:100%;
	border-radius:4px;
	line-height:30px;
	font-size:14px;
	color:#333;
	outline:none;
	padding-left:6px;
}
/*日历图标
.calendar_container .calendar_clean{position:absolute;top:6px;right:6px;z-index:1;display:none;cursor:pointer;}
.calendar_container .calendar_clean:after{content:"\E62F";font-family:"iconfont";font-size:16px;display:inline-block;color:#ccc;}
.calendar_container .calendar_icon{position:absolute;top:6px;right:6px;pointer-events:none;display:block;}
.calendar_container .calendar_icon::after{content:"\E646";font-family:"iconfont";font-size:16px;display:inline-block;color:#aaa;}*/
.calendar_container:hover .calendar_clean{
	display:block;
}
.calendar_container:hover .calendar_icon{
	display:none;
}
.calendar_main{
  	position:absolute;
	top:50px;
	left:-7px;
	width:220px;
	box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.2), inset 3px 3px 7px rgba(255, 255, 255, 0.2), inset -3px -3px 7px rgba(0, 0, 0, 0.2);
  	border-radius:4px;
	z-index:2;
	background:#fffffff0;
	position:absolute;
}
.calendar_main .calendar_head{
	font-size:0;
}
.calendar_main .calendar_head a{
	display:inline-block;
	height:32px;
	line-height:32px;
  	text-align:center;
	font-size:12px;
	vertical-align:middle;
}
.calendar_main .calendar_head .chang_btn{
	width:30px;
	padding-top:1px;
}
.calendar_main .calendar_head .year_month_btn{
	width:64px;
	margin:0 48px;
	white-space:nowrap;
}
.calendar_main .calendar_head .year_btn,.calendar_main .calendar_head .month_btn{
	width:50px;
} 
.calendar_main .calendar_head .chang_btn::after{
	content:"";
	display:inline-block;
	height:0;
	width:0;
	border:6px solid transparent;
}
.calendar_main .calendar_head .chang_btn::before{
	content:"";
	display:inline-block;
	height:0;
	width:0;
	border:6px solid transparent;
}
.calendar_main .calendar_head .left_year_btn::after{
	border-right-color:#878787ed;
	margin-left:-14px;
}
.calendar_main .calendar_head .left_year_btn:hover::after{
	border-right-color:#f60;
}
.calendar_main .calendar_head .right_year_btn::after{
	border-left-color:#878787ed;
	margin-left:-14px;
}
.calendar_main .calendar_head .right_year_btn:hover::after{
	border-left-color:#f60;
}
.calendar_main .calendar_head .left_month_btn::after{
	border-right-color:#00f3ffb3;
	margin-left:-10px;
}
.calendar_main .calendar_head .left_month_btn::before{
	border-right-color:#aaa;
}
.calendar_main .calendar_head .left_month_btn:hover::before{
	border-right-color:#f60;
}
.calendar_main .calendar_head .right_month_btn::after{
	border-left-color:#00f3ffb3;
	margin-left:-14px;
}
.calendar_main .calendar_head .right_month_btn::before{
	border-left-color:#aaa;
}
.calendar_main .calendar_head .right_month_btn:hover::before{
	border-left-color:#f60;
}
.calendar_main .calendar_head a:hover{
	color:#f60;
}

.calendar_main .calendar_body{
	border-top:1px solid #ccc;
	border-bottom:1px solid #ccc;
}
.calendar_main .calendar_body table{
	width:100%;
	table-layout:fixed;
}
.calendar_main .calendar_body th{
	text-align:center;
	line-height:20px;
	font-size:12px;
}
.calendar_main .calendar_body td{
	padding:0 4px;
	height:24px;
	text-align:center;
	font-size:12px;
}
.calendar_main .calendar_body td a{
	display:inline-block;
	width:20px;
	height:20px;
	cursor:pointer;
	line-height:20px;
	color:#ccc;
}
.calendar_main .calendar_body .cur_month{
	color:#666;
	background:inherit;
}
.calendar_main .calendar_body .cur_day{
  	border-radius:2px;
	font-weight:bold;
	line-height:18px;
	background:#eee;
	color:#000;
}
.calendar_main .calendar_body .sel_day{
	color:#fff;
	background:#f60;
	border-radius:2px;
}

.calendar_main .calendar_foot{
	padding:6px 10px;
	text-align:right;
}
.calendar_main .calendar_foot .define_btn{
  border-radius:4px;
	line-height:24px;
	height:24px;
	border:0;
  	background:#129f3180;
	color:#666;
	cursor:pointer;
	outline:none;
}
.calendar_main .calendar_foot .define_btn:hover{
	color:#f60;
}
.calendar_main .calendar_body ul{
	font-size:0;
	margin:0;
	padding:0;
}
.calendar_main .calendar_body li{
	display:inline-block;
	width:55px;
	height:60px;
	line-height:54px;
	font-size:14px;
}
.calendar_main .calendar_body li a{
	padding:8px;
}
.calendar_main .calendar_body li .no_cur{
	color:#ccc;
}
